/* line 1, ../sass/_grid.scss */
.row {
  width: 100%;
  clear: both;
  position: relative; }

/* line 7, ../sass/_grid.scss */
.contentWrapper {
  min-height: 400px; }

/* line 11, ../sass/_grid.scss */
.leftNav {
  float: left;
  width: 20%;
  padding: 0 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, ../sass/_grid.scss */
.content {
  float: left;
  width: 80%;
  min-height: 400px; }

/* line 25, ../sass/_grid.scss */
.column {
  float: left;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 33, ../sass/_grid.scss */
.column1 {
  width: 8.33333%; }

/* line 33, ../sass/_grid.scss */
.column2 {
  width: 16.66667%; }

/* line 33, ../sass/_grid.scss */
.column3 {
  width: 25%; }

/* line 33, ../sass/_grid.scss */
.column4 {
  width: 33.33333%; }

/* line 33, ../sass/_grid.scss */
.column5 {
  width: 41.66667%; }

/* line 33, ../sass/_grid.scss */
.column6 {
  width: 50%; }

/* line 33, ../sass/_grid.scss */
.column7 {
  width: 58.33333%; }

/* line 33, ../sass/_grid.scss */
.column8 {
  width: 66.66667%; }

/* line 33, ../sass/_grid.scss */
.column9 {
  width: 75%; }

/* line 33, ../sass/_grid.scss */
.column10 {
  width: 83.33333%; }

/* line 33, ../sass/_grid.scss */
.column11 {
  width: 91.66667%; }

/* line 33, ../sass/_grid.scss */
.column12 {
  width: 100%; }

/* line 38, ../sass/_grid.scss */
.container {
  margin: 0 auto; }

/* line 5, ../sass/cibbows.scss */
body {
  color: #000;
  background-color: #fff;
  font-family: "tablet-gothic", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0; }

/* line 14, ../sass/cibbows.scss */
a, .linkSpan {
  color: #00e;
  text-decoration: none;
  cursor: pointer; }

/* line 21, ../sass/cibbows.scss */
img {
  max-width: 100%; }

/* line 25, ../sass/cibbows.scss */
.clear {
  width: 100%;
  height: 0;
  clear: both; }

/* line 31, ../sass/cibbows.scss */
.right {
  text-align: right; }

/* line 35, ../sass/cibbows.scss */
.header {
  position: relative; }

/* line 39, ../sass/cibbows.scss */
.headerHome {
  display: block;
  width: 100%; }

/* line 44, ../sass/cibbows.scss */
.headerLinks {
  text-align: right;
  padding: 10px;
  margin: 0;
  font-family: "pragmatica-web-condensed";
  font-size: 1.25em; }
  /* line 51, ../sass/cibbows.scss */
  .headerLinks a {
    color: #1c2172; }
  /* line 55, ../sass/cibbows.scss */
  .headerLinks i {
    color: #5a7f92; }

/* line 61, ../sass/cibbows.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "pragmatica-web-condensed";
  color: #5a7f92; }

/* line 66, ../sass/cibbows.scss */
h1 {
  font-size: 2em;
  margin-top: 0;
  color: #5a7f92; }

/* line 72, ../sass/cibbows.scss */
h2 {
  font-size: 1.3em; }

/* line 76, ../sass/cibbows.scss */
.postHeader {
  font-weight: normal;
  line-height: 1em;
  font-size: 1.5em; }
  /* line 81, ../sass/cibbows.scss */
  .postHeader .postTitle {
    font-family: "pragmatica-web-condensed";
    font-weight: bold; }

/* line 88, ../sass/cibbows.scss */
.homepage h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 1em 0; }
  /* line 94, ../sass/cibbows.scss */
  .homepage h2::before, .homepage h2::after {
    content: '\f005';
    color: #1c2172;
    font-family: "FontAwesome";
    font-style: normal;
    padding: 0 .35em; }
  /* line 102, ../sass/cibbows.scss */
  .homepage h2 a {
    color: #5a7f92; }
/* line 107, ../sass/cibbows.scss */
.homepage .column:first-child {
  border-right: 5px solid #5a7f92; }
/* line 111, ../sass/cibbows.scss */
.homepage ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.25em; }
/* line 118, ../sass/cibbows.scss */
.homepage li {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1em; }
  /* line 123, ../sass/cibbows.scss */
  .homepage li a {
    font-family: "franklin-gothic-urw"; }
/* line 128, ../sass/cibbows.scss */
.homepage a {
  font-weight: bold; }

/* line 134, ../sass/cibbows.scss */
.dateLine {
  font-size: .75em;
  color: #333; }

/* line 139, ../sass/cibbows.scss */
.phoneMenuLink {
  display: none; }

@media only screen and (min-width: 1000px) {
  /* line 144, ../sass/cibbows.scss */
  .header {
    width: 980px;
    padding: 0;
    margin: 0 auto 1% auto; }

  /* line 150, ../sass/cibbows.scss */
  .headerHome {
    background: url("/img/header980.gif") no-repeat;
    height: 283px; }

  /* line 155, ../sass/cibbows.scss */
  .container {
    width: 1000px; }

  /* line 159, ../sass/cibbows.scss */
  .footer {
    padding-left: 20%; } }
@media only screen and (min-width: 768px) and (max-width: 999px) {
  /* line 166, ../sass/cibbows.scss */
  .header {
    width: 748px;
    padding: 0;
    margin: 0 auto 1% auto; }

  /* line 172, ../sass/cibbows.scss */
  .headerHome {
    background: url("/img/header748.gif") no-repeat;
    height: 217px; }

  /* line 177, ../sass/cibbows.scss */
  .container {
    width: 768px; }

  /* line 181, ../sass/cibbows.scss */
  .footer {
    padding-left: 20%; }

  /* line 185, ../sass/cibbows.scss */
  .leftNav, .homepage h2 {
    font-size: 80%; } }
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* line 192, ../sass/cibbows.scss */
  .header {
    width: 600px;
    padding: 0;
    margin: 0 auto 1% auto; }

  /* line 198, ../sass/cibbows.scss */
  .headerHome {
    background: url("/img/header600.gif") no-repeat;
    height: 174px; }

  /* line 203, ../sass/cibbows.scss */
  .container {
    width: 600px; }

  /* line 207, ../sass/cibbows.scss */
  .leftNav, .homepage h2 {
    font-size: 65%; } }
@media only screen and (max-width: 599px) {
  /* line 214, ../sass/cibbows.scss */
  #debug-kit-toolbar {
    display: none; }

  /* line 217, ../sass/cibbows.scss */
  .container {
    width: 100%; }

  /* line 221, ../sass/cibbows.scss */
  .header {
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }

  /* line 231, ../sass/cibbows.scss */
  .headerHome {
    background: url("/img/phone_logo_left_5.gif") no-repeat;
    height: 50px; }

  /* line 236, ../sass/cibbows.scss */
  .headerLinks {
    display: none; }

  /* line 240, ../sass/cibbows.scss */
  .phoneMenuLink {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 35px;
    padding-top: 15px;
    font-size: 30px;
    text-align: center;
    border-left: 1px solid #fff;
    color: #fff;
    cursor: pointer; }

  /* line 255, ../sass/cibbows.scss */
  .contentWrapper {
    margin-top: 55px; } }
@media only screen and (max-width: 599px) and (min--moz-device-pixel-ratio: 2), only screen and (max-device-width: 599px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-device-width: 599px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width: 599px) and (min-device-pixel-ratio: 2) {
  /* line 264, ../sass/cibbows.scss */
  .headerHome {
    background: url("/img/phone_logo_left_5_2X.gif") no-repeat;
    background-size: auto 100%; } }
@media only screen and (max-width: 599px) {
  /* line 273, ../sass/cibbows.scss */
  .homepageSlideshow {
    display: none; }

  /* line 277, ../sass/cibbows.scss */
  .column {
    float: none;
    margin: 0;
    width: 100%; }

  /* line 284, ../sass/cibbows.scss */
  .column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10, .column11, .column12 {
    width: 100%; }

  /* line 288, ../sass/cibbows.scss */
  .leftNav {
    display: none; }

  /* line 291, ../sass/cibbows.scss */
  .content {
    float: none;
    width: 100%;
    padding: 0; }

  /* line 297, ../sass/cibbows.scss */
  .leftNav ul li {
    display: inline-block;
    margin: 0 5px; }

  /* line 303, ../sass/cibbows.scss */
  .homepage .column:first-child {
    border: 0; } }
/* line 309, ../sass/cibbows.scss */
.navMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase; }
  /* line 317, ../sass/cibbows.scss */
  .navMenu a {
    color: #1c2172; }
  /* line 321, ../sass/cibbows.scss */
  .navMenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 50%;
    display: none; }
    /* line 329, ../sass/cibbows.scss */
    .navMenu ul.open {
      display: block; }
    /* line 333, ../sass/cibbows.scss */
    .navMenu ul li {
      text-align: center; }
      /* line 336, ../sass/cibbows.scss */
      .navMenu ul li a {
        color: #5a7f92; }
  /* line 342, ../sass/cibbows.scss */
  .navMenu li {
    margin: 0;
    padding: .1em 0;
    line-height: 1em;
    white-space: nowrap; }

@media only screen and (min-width: 600px) {
  /* line 354, ../sass/cibbows.scss */
  .navMenu {
    /*
    		> li:nth-child(3n) {
    			font-family: "blackoak-std";
    			font-size: 1.4em;
    		}
    
    		> li:nth-child(3n+1) {
    			font-family: "zebrawood-std";
    			font-size: 2.5em;
    		}
    
    		> li:nth-child(4) {
    			font-family: "rosewood-std";
    			font-size: 3em;
    		}
    
    		> li:nth-child(3n+2) {
    			font-family: "stud";
    			font-size: 0.8em;
    		}
    */ }
    /* line 356, ../sass/cibbows.scss */
    .navMenu::before, .navMenu::after {
      content: '\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005';
      color: #5a7f92;
      font-family: "FontAwesome";
      font-size: 1.25em;
      font-style: normal;
      letter-spacing: .35em;
      padding: .2em 0;
      display: block; }
    /* line 367, ../sass/cibbows.scss */
    .navMenu > li {
      border-bottom: 3px solid #5a7f92; }
      /* line 370, ../sass/cibbows.scss */
      .navMenu > li:last-child {
        border-bottom: 0; }
    /* line 396, ../sass/cibbows.scss */
    .navMenu > li:nth-child(1) {
      font-family: "blackoak-std";
      font-size: 1.5em; }
    /* line 401, ../sass/cibbows.scss */
    .navMenu > li:nth-child(2) {
      font-family: "pragmatica-web-condensed";
      font-size: 4.0em; }
    /* line 406, ../sass/cibbows.scss */
    .navMenu > li:nth-child(3) {
      font-family: "pragmatica-web-condensed";
      font-size: 2.0em; }
    /* line 411, ../sass/cibbows.scss */
    .navMenu > li:nth-child(4) {
      font-family: "poplar-std";
      font-size: 2.8em; }
    /* line 416, ../sass/cibbows.scss */
    .navMenu > li:nth-child(5) {
      font-family: "pragmatica-web-condensed";
      font-size: 2.2em; }
    /* line 421, ../sass/cibbows.scss */
    .navMenu > li:nth-child(6) {
      font-family: "blackoak-std";
      font-size: 1.8em; }
    /* line 426, ../sass/cibbows.scss */
    .navMenu > li:nth-child(7) {
      font-family: "poplar-std";
      font-size: 2.4em; }
    /* line 431, ../sass/cibbows.scss */
    .navMenu > li:nth-child(8) {
      font-family: "blackoak-std";
      font-size: 1.9em; }
    /* line 436, ../sass/cibbows.scss */
    .navMenu ul li {
      white-space: normal;
      /*				font-family: "french-clarendon-ornamented", "cowboyslang";
      				letter-spacing: 5px;
      			  font-size: 25px;
      */
      font-family: arial, helvetica;
      font-size: 15px;
      /*			&:nth-child(even) {
      				font-family: "fatboy";
      } */ } }
/** Notices and Errors **/
/* line 455, ../sass/cibbows.scss */
.message {
  clear: both;
  color: #fff;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px; }

/* line 470, ../sass/cibbows.scss */
.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -ms-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#e6b800));
  background-image: -webkit-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -o-linear-gradient(top, #ffcc00, #e6b800);
  background-image: linear-gradient(top, #ffcc00, #e6b800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 10px 18px 10px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); }

/* line 496, ../sass/cibbows.scss */
.success,
.message,
.cake-error,
p.error,
.error-message {
  clear: both;
  color: #fff;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }

/* line 510, ../sass/cibbows.scss */
.success {
  clear: both;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3B8230;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76bf6b), to(#3b8230));
  background-image: -webkit-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -moz-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -ms-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -o-linear-gradient(top, #76bf6b, #3b8230);
  background-image: linear-gradient(top, #76bf6b, #3b8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }

/* line 524, ../sass/cibbows.scss */
p.error {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0; }

/* line 530, ../sass/cibbows.scss */
p.error em {
  font-weight: normal;
  line-height: 140%; }

/* line 534, ../sass/cibbows.scss */
.notice {
  color: #000;
  display: block;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0; }

/* line 541, ../sass/cibbows.scss */
.success {
  color: #fff; }

/* line 545, ../sass/cibbows.scss */
.footer {
  padding-top: 20px;
  font-size: 80%; }

/* line 550, ../sass/cibbows.scss */
.smIcons {
  font-size: 32px;
  text-align: center; }
  /* line 554, ../sass/cibbows.scss */
  .smIcons a {
    color: #5a7f92;
    padding: 0 5px; }

/* line 560, ../sass/cibbows.scss */
fieldset {
  border: 0;
  padding: 0; }

/* line 565, ../sass/cibbows.scss */
legend {
  padding: 0;
  margin: 0 0 1em 0;
  font-size: 2em;
  font-weight: bold; }

/* line 572, ../sass/cibbows.scss */
.input {
  margin-bottom: 1em; }

/* line 576, ../sass/cibbows.scss */
label {
  display: block; }

/* line 580, ../sass/cibbows.scss */
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: .5em; }

/* line 587, ../sass/cibbows.scss */
input[type=submit], .linkButton {
  background-color: #5a7f92;
  color: #fff;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.25em;
  cursor: pointer; }

/* line 598, ../sass/cibbows.scss */
.checkbox label {
  display: inline;
  margin-left: .5em; }

/* line 604, ../sass/cibbows.scss */
.inline-block {
  display: inline-block; }

/* line 608, ../sass/cibbows.scss */
.edit, .delete {
  font-size: 1.3em;
  margin-left: .5em; }

/* line 613, ../sass/cibbows.scss */
.edit {
  color: #009900; }

/* line 617, ../sass/cibbows.scss */
.delete {
  color: #990000; }

/* line 621, ../sass/cibbows.scss */
.orange {
  color: #ee971a; }

/* line 625, ../sass/cibbows.scss */
.zebraTable {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse; }
  /* line 632, ../sass/cibbows.scss */
  .zebraTable th {
    background-color: #5a7f92;
    color: #fff; }
  /* line 638, ../sass/cibbows.scss */
  .zebraTable tr:nth-child(even) {
    background-color: #ddd; }
  /* line 643, ../sass/cibbows.scss */
  .zebraTable td {
    padding: 2px; }
  /* line 647, ../sass/cibbows.scss */
  .zebraTable .fa {
    font-size: 1.3em;
    margin-left: .5em; }

/* line 653, ../sass/cibbows.scss */
.mapFrame {
  width: 100%;
  height: 400px; }

/* line 658, ../sass/cibbows.scss */
.liabilityWaiver {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -421px;
  width: 800px;
  padding: 20px;
  display: none;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  text-align: justify; }

/* line 675, ../sass/cibbows.scss */
.liabilityClose {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: #666;
  cursor: pointer; }

/* line 684, ../sass/cibbows.scss */
.resultCode {
  margin: 0 3px; }

/* line 688, ../sass/cibbows.scss */
.raceNav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%; }
  /* line 694, ../sass/cibbows.scss */
  .raceNav li {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #ccc;
    margin: 0 10px;
    background-color: #5a7f92;
    color: #fff; }
    /* line 702, ../sass/cibbows.scss */
    .raceNav li a {
      color: #fff; }
    /* line 706, ../sass/cibbows.scss */
    .raceNav li.active {
      background-color: #fff;
      color: #5a7f92; }

/* line 714, ../sass/cibbows.scss */
.homepageSlideshow {
  margin-bottom: 1em; }

/* line 718, ../sass/cibbows.scss */
.phoneMenu {
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  font-size: 20px; }
  /* line 726, ../sass/cibbows.scss */
  .phoneMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  /* line 732, ../sass/cibbows.scss */
  .phoneMenu li {
    margin: 0;
    padding: 5px; }
  /* line 737, ../sass/cibbows.scss */
  .phoneMenu .navMenu {
    text-align: left; }
    /* line 740, ../sass/cibbows.scss */
    .phoneMenu .navMenu ul {
      text-align: left;
      font-size: 80%; }
      /* line 744, ../sass/cibbows.scss */
      .phoneMenu .navMenu ul li {
        text-align: left; }
