.row {
  width: 100%;
  clear: both;
  position: relative;
}

.contentWrapper {
    min-height: 400px;
}

.leftNav {
  float: left;
  width: 20%;
  padding: 0 10px;
  margin: 0;
  @include box-sizing(border-box);
}

.content {
  float: left;
  width: 80%;
  min-height: 400px;
}

.column {
  float: left;
  padding: 0 10px;
  @include box-sizing(border-box);
}

//generate 12-column grid
@for $i from 1 through $numColumns {
  .column#{$i} {
    @include column-width($i);
  }
}

.container {
  margin: 0 auto;
}