// colors
$darkBlue: #1c2172;
$greyBlue: #5a7f92;
$editGreen: #090;
$deleteRed: #900;
$orange: #ee971a;

// fonts
$blackoak: "blackoak-std";
$franklin: "franklin-gothic-urw";
$gothic: "tablet-gothic";
$poplar: "poplar-std";
$pragmatica: "pragmatica-web-condensed";

// columns
$numColumns: 12;

@mixin column-width($span) {
  width: percentage($span / $numColumns);
}

$allColumns: ();
@for $i from 1 through $numColumns {
  $nextcol: ".column" + $i;
  $allColumns: append($allColumns, unquote($nextcol), comma);
}

$allHeadings: ();
@for $i from 1 through 6 {
  $heading: "h" + $i;
  $allHeadings: append($allHeadings, unquote($heading), comma);
}

@mixin clearAfter() {
  &::after {
    content: '';
    display: table;
    width: 100%;
    height: 0;
    clear: both;
  }
}