// colors
$darkBlue: #1c2172;
$greyBlue: #5a7f92;
$editGreen: #090;
$deleteRed: #900;
$orange: #ee971a;

// fonts
$pragmatica: "pragmatica-web-condensed";

@mixin column-width($span) {
  width: percentage($span / 12);
}