@import 'compass';
@import '_variables';
@import '_grid';

body {
	color: #000;
	background-color: #fff;
	font-family: $gothic, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a, .linkSpan {
//	color: $darkBlue;
  color: #00e;
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

.clear {
  width: 100%;
  height: 0;
  clear: both;
}

.right {
	text-align: right;
}

.header {
    position: relative;
}

.headerHome {
    display: block;
    width: 100%;
}

.headerLinks {
  text-align: right;
	padding: 10px;
	margin: 0;
	font-family: $pragmatica;
  font-size: 1.25em;
  
  a {
    color: $darkBlue;
  }

   i {
        color: $greyBlue;
    }

}

#{$allHeadings} {
  font-family: $pragmatica;
  color: $greyBlue;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  color: $greyBlue;
}

h2 {
	font-size: 1.3em;
}

.postHeader {
	font-weight: normal;
	line-height: 1em;
	font-size: 1.5em;

	.postTitle {
		font-family: $pragmatica;
		font-weight: bold;
	}
}

.homepage {
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 1em 0;

    &::before, &::after {
      content: '\f005';
      color: $darkBlue;
      font-family: "FontAwesome";
      font-style: normal;
      padding: 0 .35em;
    }

  	a {
  		color: $greyBlue;
  	}	
  }

  .column:first-child {
    border-right: 5px solid $greyBlue;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.25em;
  }

  li {
    margin: 0 0 1em 0;
    padding: 0;
    line-height: 1em;

  	a {
  		font-family: $franklin;
  	}
  }
  
  a {
    font-weight: bold;
  }
  
}

.dateLine {
	font-size: .75em;
	color: #333;
}

.phoneMenuLink {
  display: none;
}

@media only screen and (min-width:1000px) {
	.header {
		width: 980px;
		padding: 0;
		margin: 0 auto 1% auto;
	}

.headerHome {
    background: url("/img/header980.gif") no-repeat;
    height: 283px;
}

    .container {
        width: 1000px;
    }
    
        .footer {
      padding-left: 20%;
    }

}

@media only screen and (min-width:768px) and (max-width:999px) {
	.header {
		width: 748px;
		padding: 0;
		margin: 0 auto 1% auto;
	}
	
	.headerHome {
    background: url("/img/header748.gif") no-repeat;
    height: 217px;
	}

    .container {
        width: 768px;
    }

    .footer {
      padding-left: 20%;
    }
    
    .leftNav, .homepage h2 {
      font-size: 80%;
    }

}

@media only screen and (min-width:600px) and (max-width:767px) {
	.header {
		width: 600px;
		padding: 0;
		margin: 0 auto 1% auto;
	}
	
	.headerHome {
    background: url("/img/header600.gif") no-repeat;
    height: 174px;	  
	}

    .container {
        width: 600px;
    }
    
    .leftNav, .homepage h2 {
      font-size: 65%;
    }
}

@media only screen and (max-width:599px) {
  
  #debug-kit-toolbar {
    display: none;
  }
  .container {
    width: 100%;
  }

	.header {
		width: 100%;
		padding: 0;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}
	
	.headerHome {
    background: url("/img/phone_logo_left_5.gif") no-repeat;
    height: 50px;
	}
	
	.headerLinks {
	  display: none;
	}
	
	.phoneMenuLink {
	  display: block;
	  position: absolute;
	  right: 0;
	  top: 0;
	  width: 50px;
	  height: 35px;
	  padding-top: 15px;
	  font-size: 30px;
	  text-align: center;
	  border-left: 1px solid #fff;
	  color: #fff;
	  cursor: pointer;
	}
	
	.contentWrapper {
	  margin-top: 55px;
	}
}

@media only screen and (max-width:599px) and (min--moz-device-pixel-ratio: 2), only screen and (max-device-width:599px) and (-o-min-device-pixel-ratio: 2/1), only screen and (max-device-width:599px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width:599px) and (min-device-pixel-ratio: 2) {
	.header {
	}

  .headerHome {
      background: url("/img/phone_logo_left_5_2X.gif") no-repeat;
     background-size: auto 100%;
  
  }
}


@media only screen and (max-width:599px) {
	.homepageSlideshow {
		display: none;
	}
	
	.column {
		float: none;
		margin: 0;
		width: 100%;
	}
	
	//reset all columns  
  #{$allColumns} {
    width: 100%;
  }

	.leftNav {
	  display: none;
	}
	.content {
		float: none;
		width: 100%;
		padding: 0;
	}
	
	.leftNav ul li {
		display: inline-block;
		margin: 0 5px;
	}
	
	.homepage {
	  .column:first-child {
    border: 0;
   }
  }
}

.navMenu {

	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
  text-transform: uppercase;

  a {
    color: $darkBlue;
  }

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		font-size: 50%;
		display: none;

      &.open {
         display: block;
      }

        li {
            text-align: center;

            a {
                color: $greyBlue;
            }
		}
	}

	li {
		margin: 0;
    padding: .1em 0;
    line-height: 1em;
    white-space: nowrap;
	}
	
	
}

@media only screen and (min-width:600px) {

	.navMenu {
	  
	   &::before, &::after {
      content: '\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005';
      color: $greyBlue;
      font-family: "FontAwesome";
      font-size: 1.25em;
      font-style: normal;
      letter-spacing: .35em;
      padding: .2em 0;
      display: block;
    }

		> li {
			border-bottom: 3px solid $greyBlue;
			
			&:last-child {
			  border-bottom: 0;
			}
		}
/*
		> li:nth-child(3n) {
			font-family: "blackoak-std";
			font-size: 1.4em;
		}

		> li:nth-child(3n+1) {
			font-family: "zebrawood-std";
			font-size: 2.5em;
		}

		> li:nth-child(4) {
			font-family: "rosewood-std";
			font-size: 3em;
		}

		> li:nth-child(3n+2) {
			font-family: "stud";
			font-size: 0.8em;
		}
*/
// hard code widths for now		
		> li:nth-child(1) {
		  font-family: $blackoak;
		  font-size: 1.5em;
		}

    > li:nth-child(2) {
      font-family: $pragmatica;
      font-size: 4.0em;
    }

    > li:nth-child(3) {
      font-family: $pragmatica;
      font-size: 2.0em;
    }

    > li:nth-child(4) {
      font-family: $poplar;
      font-size: 2.8em;
    }

    > li:nth-child(5) {
      font-family: $pragmatica;
      font-size: 2.2em;
    }

    > li:nth-child(6) {
      font-family: $blackoak;
      font-size: 1.8em;
    }

    > li:nth-child(7) {
      font-family: $poplar;
      font-size: 2.4em;
    }

    > li:nth-child(8) {
      font-family: $blackoak;
      font-size: 1.9em;
    }

		ul li {
		    white-space: normal;
//			&:nth-child(odd) {
/*				font-family: "french-clarendon-ornamented", "cowboyslang";
				letter-spacing: 5px;
			  font-size: 25px;
*/
      font-family: arial, helvetica;
      font-size: 15px;
//			}

/*			&:nth-child(even) {
				font-family: "fatboy";
} */
		}
	}
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 0 10px 18px 10px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

.footer {
  padding-top: 20px;
  font-size: 80%;
}

.smIcons {
  font-size: 32px;
  text-align: center;
  
  a {
    color: $greyBlue;
    padding: 0 5px; 
  }
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  padding: 0;
  margin: 0 0 1em 0;
  font-size: 2em;
  font-weight: bold;
}

.input {
  margin-bottom: 1em;
}

label {
  display: block;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number] {
//  @include border-box();
  @include box-sizing(border-box);
  width: 100%;
  padding: .5em;
}

input[type=submit], .linkButton {
  background-color: $greyBlue;
  color: #fff;
  border: 0 none;
  @include border-radius(5px);
  padding: 10px 20px;
  font-size: 1.25em;
  cursor: pointer;
}

.checkbox {
  label {
    display: inline;
    margin-left: .5em;
  }
}

.inline-block {
  display: inline-block;
}

.edit, .delete {
  font-size: 1.3em;
  margin-left: .5em;
}

.edit {
  color: $editGreen;
}

.delete {
  color: $deleteRed;
}

.orange {
  color: $orange;
}

.zebraTable {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;

  th {
    background-color: $greyBlue;
    color: #fff;
  }

  tr {
    &:nth-child(even) {
      background-color: #ddd;
    }
  }
  
  td {
    padding: 2px;
  }
  
  .fa {
    font-size: 1.3em;
    margin-left: .5em;
  }
}

.mapFrame {
  width: 100%;
  height: 400px;
}

.liabilityWaiver {
     border: 1px solid #ccc;
     @include border-radius(5px);
     position: fixed;
     top: 50px;
     left: 50%;
     margin-left: -421px;
     width: 800px;
     padding: 20px;
     display: none;
     background: #fff;
     -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
     box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
     text-align: justify;
}

.liabilityClose {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

.resultCode {
  margin: 0 3px;
}

.raceNav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;

  li {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #ccc;
    margin: 0 10px;
    background-color: $greyBlue;
    color: #fff;
    
    a {
      color: #fff;
    }
    
    &.active {
      background-color: #fff;
      color: $greyBlue;
    }
  }

}

.homepageSlideshow {
  margin-bottom: 1em;
}

.phoneMenu {
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  font-size: 20px;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 5px;
  }
  
  .navMenu {
    text-align: left;
    
    ul {
      text-align: left;
      font-size: 80%;
     
      li {
        text-align: left;
      }
    }
  }
}

