@import 'compass';
@import '_variables';
@import '_grid';

body {
	color: #000;
	background-color: #fff;
	font-family: $gothic, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a, .linkSpan, .ui-widget-content a {
//	color: $darkBlue;
  color: #00e;
	text-decoration: none;
	cursor: pointer;
	outline: 0 none;
}

img {
	max-width: 100%;
}

.clear {
  width: 100%;
  height: 0;
  clear: both;
}

.right {
	text-align: right;
}

.header {
    position: relative;
}

.headerHome {
    display: block;
    width: 100%;
}

.headerLinks {
  text-align: right;
	padding: 10px;
	margin: 0;
	font-family: $pragmatica;
  font-size: 1.25em;
  
  a {
    color: $darkBlue;
  }

   i {
        color: $greyBlue;
    }

}

#{$allHeadings} {
  font-family: $pragmatica;
  color: $greyBlue;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  color: $greyBlue;
}

h2 {
	font-size: 1.3em;
}

.postHeader {
	font-weight: normal;
	line-height: 1em;
	font-size: 1.5em;

	.postTitle {
		font-family: $pragmatica;
		font-weight: bold;
	}
}

.homepage {
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 1em 0;

    &::before, &::after {
      content: '\f005';
      color: $darkBlue;
      font-family: "FontAwesome";
      font-style: normal;
      padding: 0 .35em;
    }

  	a {
  		color: $greyBlue;
  	}	
  }

  .column:first-child {
    border-right: 5px solid $greyBlue;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.25em;
  }

  li {
    margin: 0 0 1em 0;
    padding: 0;
    line-height: 1em;

  	a {
  		font-family: $franklin;
  		color: $darkBlue;
  	}
  }
  
  a {
    font-weight: bold;
  }
  
}

.dateLine {
	font-size: .75em;
	color: #333;
}

.phoneMenuLink {
  display: none;
}

.navMenu {

	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
  text-transform: uppercase;

  a {
    color: $darkBlue;
  }

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		font-size: 50%;
		display: none;

      &.open {
         display: block;
      }

        li {
            text-align: center;

            a {
                color: $greyBlue;
            }
		}
	}

	li {
		margin: 0;
    padding: .1em 0;
    line-height: 1em;
    white-space: nowrap;
	}
	
	
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
  @include background(#fc0 linear-gradient(#fc0, #e6b800));
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 0 10px 18px 10px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  @include border-radius(4px);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
  @include background(#c43c35 linear-gradient(#ee5f5b, #c43c35));
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
  @include background(#3b8230 linear-gradient(#76bf6B, #3b8230));
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

.footer {
  padding-top: 20px;
  font-size: 80%;
}

.smIcons {
  font-size: 32px;
  text-align: center;
  
  a {
    color: $greyBlue;
    padding: 0 5px; 
  }
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  padding: 0;
  margin: 0 0 1em 0;
  font-size: 2em;
  font-weight: bold;
}

.input {
  margin-bottom: 1em;
}

label {
  display: block;
}

.radio label {
  display: inline;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], textarea {
  @include box-sizing(border-box);
  width: 100%;
  height: 3em;
  padding: .5em;
  border: 1px solid #ccc;
  outline: 0 none;
  @include border-radius(0);
}

textarea {
  height: 9em;
}

input[type=submit], .linkButton {
  background-image: none;
  background-color: $greyBlue;
  color: #fff;
  border: 0 none;
  @include border-radius(5px);
  @include box-sizing(border-box);
  padding: 10px 20px;
  font-size: 1.25em;
  cursor: pointer;  
}


.stripe-button-el.cancelButton {
  background: $deleteRed;
  margin-right: 1em;
  height: 30px;
  
  span {
      background: $deleteRed;
  }
}

.checkbox {
  label {
    display: inline;
    margin-left: .5em;
  }
}

.inline-block {
  display: inline-block;
}

.edit, .delete {
  font-size: 1.3em;
  margin-left: .5em;
}

.edit {
  color: $editGreen;
}

.delete {
  color: $deleteRed;
}

.orange {
  color: $orange;
}

.zebraTable {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;

  th {
    background-color: $greyBlue;
    color: #fff;
  }

  tr {
    &:nth-child(even) {
      background-color: #ddd;
    }
  }
  
  td {
    padding: 2px;
  }
  
  .fa {
    font-size: 1.3em;
    margin-left: .5em;
  }
}

.mapFrame {
  width: 100%;
  height: 400px;
}

.liabilityWaiver {
     border: 1px solid #ccc;
     @include border-radius(5px);
     position: fixed;
     top: 50px;
     left: 50%;
     margin-left: -421px;
     width: 800px;
     padding: 20px;
     display: none;
     background: #fff;
     -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
     -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
     box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
     text-align: justify;
}

.liabilityClose {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

.resultCode {
  margin: 0 3px;
}

.raceNav {
  padding: 0 .5em;
  margin: 0;
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #ccc;

  li {
    display: inline-block;
    padding: .3em 1.5em;
    border: 1px solid #ccc;
    border-bottom-color: $greyBlue;
    margin: 0 .25em;
    background-color: $greyBlue;
    color: #fff;
    
    a {
      color: #fff;
    }
    
    &.active {
      background-color: #fff;
      color: $greyBlue;
      border-bottom-color: #fff;
    }
  }

}

.homepageSlideshow {
  margin-bottom: 1em;
}

.phoneMenu {
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  font-size: 20px;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 5px;
  }
  
  .navMenu {
    text-align: left;
    
    ul {
      text-align: left;
      font-size: 80%;
     
      li {
        text-align: left;
      }
    }
  }
}

.homepagePhotoCaption {
  margin: 0 0 .5em 0;
  font-size: .8em;
  font-style: italic;
  text-align: right;
  color: #666;
}

.donationInputWrapper {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 11px;
  height: 3em;

  span {
    display: block;
    float: left;
    width: 10%;
    color: #666;
    padding: .5em;
    @include box-sizing(border-box);
    font-size: 1.1em;
  }

  .donationInput {
    float: left;
    width: 90%;
    
    input {
      font-size: 11px;
      padding-left: 0;
      border: 0;
      
      &:first-child {
        padding-left: .5em;
      }
    }
  }
  
}

@import '_responsive';
@import '_paging';